{% extends 'base.html.twig' %}

{% block title %}Détails de la commande {{ order.reference }}{% endblock %}

{% block main %}

    <h3>Formules commandées :</h3>
    {% for formule in formuleData %}
        <h4>{{ formule }}</h4>
    {% endfor %}
    {% for products in productsData %}
        <p>{{ products }}</p>
    {% endfor %}
    
{% endblock %}
