{% extends 'base.html.twig' %}

{% block title %}Détails de la commande {{ order.reference }}{% endblock %}

{% block main %}
{% if lineItems %}
    <h3>Formules commandées :</h3>
    {% for item in lineItems %}
        <h4>{{ item.product_data.name }}</h4>
        <p>Prix : {{ item.price_data.unit_amount }}</p>
    {% endfor %}
{% else %}
    <p>Aucune formule n'a été commandée.</p>
{% endif %}

{% endblock %}
