{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block main %}
<h1>Modifier mon mot de passe</h1>
<div class="form">
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    <a href="{{ path('app_account') }}" style="text-decoration:none">Retourner à mon compte</a>
    <hr>
    {{ form(form) }}
</div>
<hr>

{% endblock %}
