{% extends 'base.html.twig' %}

{% block title %}Brunch Go - Livraison de brunch à domicile{% endblock %}

{% block carousel %}
{% endblock %}

{% block main %}
<div class="entete m-4">
<h1 class="text-center m-3">
BRUNCHGO
</h1>
<hr>
<strong>
<p class="text-center">
Venez découvrir nos formules variées et pour tout les gouts. Pourquoi nous? Car nous avons un systeme de personnalisation de formules et un systeme de livraison rapide !
<br><br>
Ne perdez plus de temps et passez à table !
</p>
</div>
<div class="card m-5 bg-secondary d-flex flex-row">
    <img src="img/table1.jpg" class="card-img-top img-fluid m-4 col-md-6" style="max-width:500px; max-height:500px">
<div class="card-body bg-primary ">
        <h5 class="card-title text-center">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
</div>
<div class="card d-flex mx-5 flex-row-reverse bg-secondary">
    <img src="img/table2.jpg" class="card-img-top img-fluid m-4" style="max-width:700px; max-height:700px">
<div class="card-body bg-primary">
        <h5 class="card-title text-center">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
</div>
</div>
</div>
{% endblock %}
