  
    <img src="/uploads/images/{{ producers.illustration }}" class="shadow-lg mt-4" style="height:80px; width:80px;"><br><br>
    <h5 class="fw-bold">{{ producers.name }}</h5><br>
    <p>{{ producers.description|raw}}</p><br>
    <p class="mb-4">{{ producers.address|raw}}</p>    