{% extends 'base.html.twig' %}

{% block title %}Conditions Générales de vente{% endblock %}

{% block main %}
<div class="container">
<h1 class="text-center">Conditions Générales de Vente</h1>

<strong>1. Champ d'application</strong><br>
<p>Les présentes Conditions Générales de Vente s'appliquent à toutes les commandes passées auprès de Brunch GO pour la livraison de brunch à domicile dans la région de l'Audomarois.</p><br>

<strong>2. Commandes Brunch GO</strong><br>

<p>Les commandes peuvent être effectuées en ligne via notre site web ou par téléphone.
Toute commande passée implique l'acceptation sans réserve des présentes CGV.
Les prix des produits et les frais de livraison sont indiqués lors de la commande et sont susceptibles de varier selon la localisation de livraison.</p><br>

<strong>3. Paiement</strong><br>

<p>Le règlement des commandes peut s'effectuer en ligne par carte bancaire ou par d'autres moyens de paiement acceptés par Brunch GO.
Les paiements doivent être effectués intégralement au moment de la commande.
Les paiements sont sécurisés et toutes les informations confidentielles sont protégées.</p><br>

<strong>4. Livraison</strong><br>

<p>Les délais de livraison sont indiqués lors de la commande et sont donnés à titre indicatif.
La livraison est effectuée à l'adresse précisée par le client lors de la commande.
En cas d'absence du client à l'adresse de livraison, Brunch GO se réserve le droit de facturer des frais supplémentaires pour une nouvelle livraison.</p><br>

<strong>5. Annulation et Modification</strong><br>

<p>Toute annulation ou modification de commande doit être effectuée dans les délais spécifiés par Brunch GO.
Brunch GO se réserve le droit de refuser toute annulation ou modification de commande en dehors des délais impartis.</p><br>

<strong>6. Réclamations</strong><br>

<p>En cas de réclamation concernant la commande ou les produits livrés, le client doit contacter Brunch GO dans les plus brefs délais.
Brunch GO s'engage à traiter toutes les réclamations de manière diligente et à proposer une solution satisfaisante dans les meilleurs délais.</p><br>

<strong>7. Responsabilité</strong><br>

<p>Brunch GO décline toute responsabilité en cas de dommages causés par une utilisation inappropriée des produits après la livraison.
Brunch GO ne saurait être tenue responsable des retards ou des défauts de livraison imputables à des circonstances indépendantes de sa volonté.</p><br>

<strong>8. Protection des données</strong><br>

<p>Les informations personnelles fournies par le client sont collectées dans le respect de la réglementation en vigueur en matière de protection des données.
Brunch GO s'engage à ne pas divulguer les informations personnelles du client à des tiers sans son consentement.</p><br>

<strong>9. Droit applicable et litiges</strong><br>

<p>Les présentes CGV sont soumises au droit français. En cas de litige, les parties s'efforceront de résoudre le différend à l'amiable. À défaut d'accord, tout litige relatif aux présentes CGV sera soumis aux tribunaux compétents.</p><br><br>


<p class="text-end">L'équipe de Brunch GO</p>
</div>
{% endblock %}
